body{
    font-family: Arial, sans-serif;
}
nav{
    width:100%;
    height: 60px;
    background: #344051;
}
.logo{
    color: white;
    font-size: 28px;
    line-height: 60px;
    margin-left: 388px;
    float: left;
}
.menu{
    float: left;
    padding-left: 230px;
}
.menu li{
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 30px;
    font-size: 16px;
    text-transform: uppercase;
}
.main{
    width: 100%;
    height: 100%;
    background: url("../img/andrey_braun.png") 90% 100%/auto 85% no-repeat,url("../img/main_phon.jpg") center/cover no-repeat;   
}
.title_container{
    float: left;
    margin: 330px 0px 0px 200px;
    color: #2c384a;
    text-align: center;
}
.title_container h1{
    font-size: 60px;
    font-weight: bold;
}
.title_container h4{
    margin-top: 40px;
    font-size: 22px;
    color: grey;
}
.title_container input{
    height: 40px;
    color:#6d7682;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    font-size: 13px;
    padding: auto 16px;
    margin-top: 15px;
    margin-right: 24px;
    padding-left: 5px;    
    padding-right: 5px;
}
.zagolovok{
    margin-top: 80px;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: #263244;
}
.fst_pct{
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
.lil{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.snd_main_tenxt_one{
    color: #3f495a;
    text-align: center;
    margin-top: 30px;
    line-height: 20px;
}
.nd_main_tenxt_two{
    color: #3f495a;
    text-align: center;
}
.upload{
    margin-top: 30px;
    margin-left: auto;
    text-align: center;
    margin-bottom: 70px;
}
.fst_bottom{
    background: none;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #6f707e;
    border-radius: 7px;
}
.what_i_can{
    background: url("../img/baack.png");
    min-height: 350px;
}
.third_zagolovok{
    text-align: center;
}
.whaaat{
    font-family: Arial, sans-serif;
    color: #263244;
    padding-top: 60px;
    font-size: 23px;
}
.cherta_two{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.main_part{
    margin-top: 70px;
    min-height: 250px;
}

.keysi_header{
    text-align: center;
}
.keysi_header h2{
    text-transform: uppercase;
    font-size: 23px;
    font-family: Arial, sans-serif;
    padding-top: 60px;
    padding-bottom: 30px;
}
.keys_txt{
    padding-top: 26px;
    padding-bottom: 26px;
}
.opencloud_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.block_one{
    margin-left: 138px;
    margin-top: 30px;
    min-height: 160px;
    max-width: 150px;
    float: left
}
.first_part{
    line-height: 30px;
}
.client{
    font-size: 20px;
    font-family: bold;
}
.second_part{
    line-height: 30px;
}
.website{
    font-size: 20px;
    font-family: bold;
}
.third_part{
    margin-top: -90px;
    margin-bottom: 160px;
}
.visit_live{
    border: 1px solid #63b5ae;
    background: none;
    background-color: #63b5ae;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 17px;
}
.block_two{
    margin-left: 388px;
    margin-top: 43px;
}
.pro_name{
    margin-bottom: 10px;
    font-size: 20px;
}
.clear_two{
    clear: both;
}
.second_part{
    min-height: 160px;
}
.first_punkt{
    float: left;
    text-align: center;
    margin-left: 270px;
    margin-right: 90px;
}
.second_punkt{
    float: left;
    text-align: center;
    margin-right: 90px;
}
.third_punkt{
    float: left;
    text-align: center;
    margin-right: 90px;
}
.forth_punkt{
    float: left;
    text-align: center;
    
}
.clear{
    clear: both;
}
.podzag_1{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #cf7600;
}
.podzag_2{
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 15px;
    color: #cf7600;
}
.podzag_3{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #cf7600;
}
.podzag_4{
    font-size: 20px;
    margin-top: 11px;
    margin-bottom: 15px;
    color: #cf7600;
}
.span_1{
    margin-bottom: 40px;
}
.raschet{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
}
.statistics{
    background: url("../img/phon.png");
    min-height: 400px;
}
.main_stat{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 23px;
    font-family: Arial, sans-serif;
}
.cherta_3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.first_stat{
    float: left;
    margin-right: 100px;
    margin-left: 250px;
}
.second_stat{
    float: left;
    margin-right: 100px;
}
.third_stat{
    float: left;
    margin-right: 100px;
}
.forth_stat{
    float: left;
    margin-right: 100px;
}
.clear_three{
    clear:both;
}
.main_stat_part{
    margin-top: 80px;
}

.first_stat_h{
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.fst_stat_span{
    text-align: center;
}
.fst_stat_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.second_stat_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.second_stat_h{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}
.second_stat_span{
    text-align: center;
}
.third_stat_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.third_stat_h{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    
}
.third_stat_span{
    text-align: center;
}
.forth_stat_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.forth_stat_h{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}
.forth_stat_span{
    text-align: center;
}
.main_otzivi{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 23px;
    text-align: center;
}
.main_otzivi_h{
    margin-bottom: 30px;
}
.cherta_4{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.muzhik{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}
.example_text_part{
    text-align: center;
    line-height: 20px;
}
.gen_director{
    margin-top: 30px;
    margin-bottom: 35px;
}
.fst_orange{
    float: left;
    display: block;
    margin-left: 680px;
}
.second_orange{
    float: left;
    display: block;
    margin-left: 28px;
}
.third_orange{
    float: left;
    display: block;
    margin-left: 28px;
    margin-bottom: 20px;
}
.otzivi{
    min-height: 400px;
}
.my_contacts{
    background: url("../img/new_phon.png");
}
.main_contacts{
    text-align: center;
    color: white;
    padding-top: 30px;
    margin-top: 70px;
}
.main_contacts h2{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
}
.cherta_four{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 23px;
}
.three_punkts{
    margin-top: 40px;
}
.perviy{
    float: left;
    color: white;
    margin-left: 370px;
    text-align: center;
    margin-right: 100px;
    line-height: 20px;
}
.geo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.vtoroy{
    float: left;
    color: white;
    text-align: center;
    margin-right: 100px;
}
.convert{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.tretiy{
    float: left;
    color: white;
    text-align: center;
}
.telephone{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.pustoy{
    clear: both;
}
.leave_me_message{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 40px;
}
.ur_name{
    float: left;
    margin-right: 30px;
    margin-left: 300px;
}
.input_name{
    width: 350px;
    height: 35px;
    padding-left: 20px;
    background-color: #d2d6dc;
}
.soap{
    float: left;
}
.clear_four{
    clear: both;
}
.first_line{
    margin-top: 45px;
    margin-bottom: 20px;
}
.input_email{
    width: 350px;
    height: 35px;
    padding-left: 20px;
    background-color: #d2d6dc;
    
}
.input_message{
    margin-left: 300px;
    width: 730px;
    height: 95px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #d2d6dc;
}
.send_message{
    display: block;
    margin-left: 621px;
    margin-top: 30px;
    background: none;
    color: white;
    border: 2px solid white;
    padding: 15px 10px;
    border-radius: 10px;
    font-size: 15px;
}
.down_images{
    margin-top: 40px;
    padding-bottom: 40px;
}
.facebook{
    float: left;
    margin-left: 500px;
}
.twitter{
    float: left;
    margin-left: 35px;
}
.ball{
    float: left;
    margin-left: 35px;
}
.cat{
    float: left;
    margin-left: 35px;
}
.instagram{
    float: left;
    margin-left: 35px;
}
.in{
    float: left;
    margin-left: 35px;
}
.clear_five{
    clear: both;
}
.map{
    background: url("../img/map.jpg");
    height: 350px;
    padding-top: 200px;
}
.im_here{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    text-align: center;
    height: 40px;
    width: 90px;
    font-weight: bold;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #354051;
    color: white;
    text-align: center;
    font-size: 15px;
}
.text_part_one{
    font-size: 20px;
    font-weight: bold;
    margin-left: 356px;
}
.select_one{
    width: 50%;
    height: 40px;
    background-color: #eee;
    padding-right: 20px;
    padding-left: 10px;
    color: grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    margin-bottom: 30px;
}
.text_part_two{
    font-size: 20px;
    font-weight: bold;
    margin-left: 360px;
}
.select_two{
    width: 50%;
    height: 40px;
    background-color: #eee;
    padding-right: 20px;
    padding-left: 10px;
    color: grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    margin-bottom: 30px;
}
.text_part_three{
    font-size: 20px;
    font-weight: bold;
    margin-left: 360px;
}
.select_three{
    width: 50%;
    height: 40px;
    background-color: #eee;
    padding-right: 20px;
    padding-left: 10px;
    color: grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    margin-bottom: 30px;
}
.sroki{
    margin-left: 360px;
    margin-top: 40px;
    margin-right: 665px;
    font-weight: bold;
    font-size: 15px;
}
.real_cost{
    margin-top: 30px;
    margin-left: 360px;
    font-weight: bold;
    font-size: 15px;
}
.stoimost{
    margin-right: 630px;
}
.cost{
    min-height: 500px;
}