.example-block{
    height:600px;
    box-shadow: 2px 2px 10px #000;
    margin: 35px;
    background: url("../img/css_image.jpg") left/100px auto no-repeat local, url("../img/andrey_braun.png") top/400px auto no-repeat local, url("../img/css_image.jpg") bottom/100px auto no-repeat local;    
    
}
.list{
    margin: 30px;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
}
.list>li{
    background: url("../img/galochka.png")  left/auto 70% no-repeat;
    padding-left: 24px;
}